.projects__container {
  padding: 8rem 2rem;
  margin: 0 auto;
  // max-width: 107rem;

  @media (max-width: 1020px) {
    padding: 5rem 2rem;
  }

  @media (max-width: 460px) {
    padding: 0 1.7rem;
  }
}

.projects__content {
  display: flex;
  flex-direction: column;
  padding: 0 6rem;

  @media (max-width: 600px) {
    text-align: center;
    margin-top: 2rem;
  }

  h2 {
    color: var(--secondary-color);
    text-transform: uppercase;
    font-weight: 600;
    
    @media (max-width: 600px) {
      font-size: 1.3rem;
    }
  }

  p {
    color: black;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: match-parent;
    text-transform: none;

    @media (max-width: 600px) {
      font-size: 1.16rem;
    }
  }
}

.projects__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Use auto-fit to create responsive columns */  grid-template-rows: auto auto;
  grid-gap: 2rem;
  width: 100%;
  height: auto;
  gap: 6rem;
 

  @media (max-width: 1020px) {
    .projects__grid {
      grid-gap: 1rem;
    }
  }

  @media (max-width: 500px) {
    .projects__grid {
      grid-gap: 0.5rem;
    }
    
  }
  
}

.grid__prj1 {
  display: flex;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 1.7rem;
  flex-direction: row; /* Change to row */
  padding: 2rem; /* Reduce padding for smaller screens */
  gap: 1.5rem; /* Reduce gap for smaller screens */
  margin: 2rem;

  @media (max-width: 1020px) {
    flex-direction: column;
    width: 90%;
    margin: 4rem auto;
    padding: 1.5rem; /* Further reduce padding for smaller screens */
  }

  @media (max-width: 600px) {
    padding: 1rem; /* Further reduce padding for smaller screens */
  }

  @media (max-width: 400px) {
    width: 100%;
    padding: 0.5rem; /* Further reduce padding for very small screens */
    border-radius: 1rem; /* Adjust border radius for smaller screens */
    margin: 1rem auto; /* Center on smaller screens */
  }
}


.grid__prj1__img {
  width: 100%;
  max-height: 20rem;
  border-radius: 1.7rem;
  background-color: #76767633;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

  img {
    width: 100%;
    height: auto;
    transform: translateY(0%); /* Apply the initial transform here */
    transition: transform 5s ease-in-out 0s; /* Faster transition duration */    transform: translateY(0%); 
  }
  &:hover{
    img{
      
      transform: translateY(-10%);
      transition: transform 5s ease-in-out 0s;
    }
  }

  &:not(:hover){
    img{
      transition-delay: .2s;
    }
  }


  @media (max-width: 600px) {
    max-height: 10rem;
    width:auto;
  }
}

.grid__prj1__text {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  h2{

    @media (max-width: 600px) {
      font-size: 1.2rem;
      padding: 0 .5rem; 
    }

  }


  p {
    color: #767676;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    text-transform: none;
    @media (max-width: 600px) {
      font-size: 1rem;
      padding: 0 .5rem; 
    }

  }
}

.grid__prj1__stack {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;

  p {
    color: black;
    font-weight: 600;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: .5rem 1.8rem;
    border-radius: 1.4rem;
    font-size: 1.2rem;

  }

  @media (max-width: 600px) {
    p {
      padding: 0.5rem 1.4rem; /* Further adjust padding for smaller screens */
      font-size: 1rem; /* Adjust font size for smaller screens */
    }
  }

}

.grid__prj1__links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.5rem;
  gap: 1rem;
  align-items: center;

  a {
    color: black;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;

    transition: all 0.2s;
    &:hover {
      color: var(--secondary-color);
    }
  }

  i {
    font-size: 2rem;
  }

  @media (max-width: 600px) {
    margin-top: 1rem; /* Adjust margin for smaller screens */
    gap: 0.5rem; /* Reduce gap for smaller screens */

    a {
      font-size: 1rem; /* Adjust font size for smaller screens */
      i {
        font-size: 1.5rem; /* Adjust icon size for smaller screens */
      }
    }
  } 
  
}
